@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

.container {
    display: flex;
    margin-bottom: 4em;
}

.container > div {
    width: 50%;
}

#myChart, #myLine, #myBars, #myPie {
    width: 100%;
    max-width: 700px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container > div {
        width: 100%;
    }
}